AFFiNE
akregatorrc
appimagelauncher.cfg
arduino-ide
Arduino IDE
aseprite
autostart
baloofileinformationrc
baloofilerc
blender
bluedevilglobalrc
breezerc
cava
cef_user_data
chameleon
Code
copyq
cura
dconf
discord
discoverrc
dolphinrc
dolphinrc_old
drkonqirc
Electron
electrumrc
emaildefaults
enchant
fcitx
fcitx5
flameshot
flameshotrc
flashbang
Flipper Devices Inc
fontconfig
gedit
glib-2.0
godot
google-chrome
grep
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
haruna
harunarc
ibus
Insync
kaccessrc
kactivitymanagerd-pluginsrc
kactivitymanagerdrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kate
katemetainfos
katerc
kateschemarc
katevirc
kcmfonts
kcminputrc
kcmshell5rc
kconf_updaterc
KDE
kded5rc
kdedefaults
kdeglobals
kde.org
KDE-xdg-terminals.list
kfontinstuirc
kfontviewrc
kgammarc
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kiorc
klipperrc
kmenueditrc
kmetainformationrc
kmixctrlrc
kmixrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
ktrashrc
Kvantum
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
Ledger Live
libaccounts-glib
libreoffice
mako
matplotlib
mimeapps.list
mpv
neofetch
nvim
okularpartrc
okularrc
pavucontrol.ini
PlasmaDiscoverUpdates
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmaparc
plasmarc
plasmashellrc
plasma-workspace
Postman
powermanagementprofilesrc
pulse
QDirStat
qt5ct
QtProject
QtProject.conf
R
rclone
rncbc.org
rstudio
sddmthemeinstallerrc
session
showfotorc
showfoto_systemrc
signond
skypeforlinux
Slack
soffice.binrc
spicetify
spotify
systemd
systemmonitorrc
systemsettingsrc
Thunar
touchpadxlibinputrc
trashrc
Trolltech.conf
unity3d
unityhub
Unknown Organization
uppaal
user-dirs.dirs
user-dirs.locale
VeraCrypt
VirtualBox
VirtualBoxrc
VirtualBoxVMrc
VSCodium
whoozle.github.io
wireshark
xdg-terminals.list
xfce4
xsettingsd
yay
zoom.conf
zoomus.conf
